{
  "plugins": [
    "babel-plugin-styled-components",
    "react-loadable/babel"
  ],
  "presets": [
    ["react-app", { "absoluteRuntime": false }],
    "@babel/preset-flow"
  ],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}
